<div class="course">
  <div class="course__content">
    <div class="course__header">
      <div class="course__title">{{course.title}}</div>
      <div class="course__details">
        <div class="course__duration">{{course.duration}}</div>
        <div class="course__date">{{course.creationDate}}</div>
      </div>
    </div>
    <div class="course__description">{{course.description}}</div>
  </div>
  <div class="course__actions">
    <!-- <button class="course__actions-btn">Edit</button> -->
    <app-button
      customClass="course__actions-btn"
      title="edit"
      type="default"
      size="small"></app-button>
    <app-button
      title="delete"
      type="default"
      size="small"
      (click)="delete()"></app-button>
  </div>
</div>
