<div class="course">
  <div class="course__content">
    <div class="course__header">
      <div class="course__title">{{course.title}}</div>
      <div class="course__details">
        <div class="course__duration">{{course.duration}}</div>
        <div class="course__date">{{course.creationDate}}</div>
      </div>
    </div>
    <div class="course__description">{{course.description}}</div>
  </div>
  <div class="course__actions">
    <button>Edit</button>
    <button>Delete</button>
  </div>
</div>
